

/* Name Brittany McCarthy
ID:2400662
class:Friday UE2 7-9
*/

/*c. Consistency & Theme
• Consistent color palette, typography, and spacing across pages, use of variables, etc*/
/*variables*/
:root {
    --main-bg-color: #E8D5E7;
    --accent-color: #f8a8a8;
    --hover-color: #e07b7b;
    --heading-bg: #FFE4E1;
    --font-main: 'Times New Roman', Times, serif;
    --spacing: 30px;
    --text-color: black;
}

/*a. CSS Selectors & Styling
• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).
    * universal selector its reseting the margin and padding because each browser is different and may have their own margin and padding by reseting or setting to zero it will
    start a fresh and use the various margin and padding in divs that way it looks the same on any device.

*/
* { /*universal selector*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*a. CSS Selectors & Styling• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).
    /*c. Consistency & Theme
• Consistent color palette, typography, and spacing across pages, use of variables, etc
        b. Layout & Positioning 
•	Effective use of Flexbox/Grid to structure a basic layout. 
*/

body { /*element selector*/
    font-family: var(--font-main);
    display: flex; /* applies Flexbox layout to the body */
    flex-direction: column; /* stacks  elements vertically */
    min-height: 100vh; /* ensures the body takes up at least the full height of the viewport */
    background-color: var(--main-bg-color);
    justify-content: flex-start; /* aligns content to the top of the page  question b . Layout & Positioning 
                                	Effective use of Flexbox/Grid to structure a basic layout. */
    line-height: 1.8; /* increases vertical spacing between lines of text */
    letter-spacing: 0.5px; /* adds slight spacing between letters for readability */
    word-spacing: 2px; /* adds spacing between words for better text flow */
    font-size: 16px;
    color: var(--text-color);
}

/*a. CSS Selectors & Styling• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).*/

.checkout {/*class selector*/
   
  
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid pink;
}
/*element  selector*/
table {
    width: 100%;
    border-collapse: collapse; /* Merge adjacent cell borders into a single border */
    margin-bottom: 20px;
}
/*element selectors*/
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
/*element selectors*/
th {
    background-color: var(--accent-color);
    color: white;
}

html { /*element selector*/

    scroll-behavior: smooth; /*allows for user to scroll smoothly when on page*/
}
/*element selectors*/
img { /*element selector*/
    transition: transform 0.5s ease-in-out; /*allows for images  to transition for 0.5 seconds and the ease-in-out allows for it to be slow at the start speed up in the middle 
                                              and slow down at the end */
}


    /*a. CSS Selectors & Styling• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).*/
    img:hover { /*pseudo class selector*/
        transform: scale(1.3); /* increases the size of the image by 30% when hovered, creating a zoom effect when hover */
    }



/*a. CSS Selectors & Styling• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).*/

h2 { /*element selector*/
    text-align: center; /*centers text*/
    font-style: italic; /* italicize text*/
}
    /*a. CSS Selectors & Styling• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).*/
    /* Heading  class selector */
.heading {
    text-align: center; /*centers text*/
    margin: var(--spacing) auto; /*20px is the top and bottom margin — it adds space above and below the .heading element.auto is the left and right margin — it tells the browser to automatically calculate equal space on both sides, which centers the element horizontally*/
    border: 2px solid pink; /*border colour*/
    padding: 10px; /* adds space inside the box awy from margin  */
    background-color: var(--heading-bg);
    width: 50%;
}
  
/*a. CSS Selectors & Styling
• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).*/
button { /* Buttons element selector */
    padding: 12px 40px; /* longer buttons */
    margin: 10px;
    border: none;
    background-color: #f8a8a8; /*light pink */
    color: white; /*text colour on buttons*/
    font-size: 16px; /*text font size*/
    cursor: pointer; /*this changes cursor from arrow to hand pointer when button is being hover*/
    border-radius: 5px; /*allows for buttons to have a curve corner instead of a sharp edge*/
    min-width: 50px; /* fixed width for buttons */
    transition: background-color 0.3s ease; /*allows for background colour for button to change by 0.3 seconds */
}
/*a. CSS Selectors & Styling
• Correct use of at least 5 different selectors (element, class, id, descendant, pseudo-class, etc).*/
button:hover { /* pseudo class selector*/
    background-color: var(--hover-color); /*change button colour when hoverd*/
}


main { /*element selector*/
    flex: 1; /* Each item grows equally and strecth to bottom of page it  keeps your footer at the bottom even if the content is short also makes the main content area flexible and responsive. */
    padding: 16px;
}

footer {/*element selector*/
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
}


    /* Responsive Design - Mobile (600px)
   Stacks nav and gallery for small screens
    and reduce text size and button size.
*/
    /*
b. Layout & Positioning
• Effective use of Flexbox/Grid to structure a basic layout.
• Layout adapts logically (e.g., sidebar + content, navbar + main). Mobile and desktop views.
*/

    @media (max-width: 600px) {

        body {
            font-size: 14px; /*reduce text size on smaller screens*/
            padding: 10px;
            overflow-x: hidden; /* prevents horizontal scrolling */
        }

        button {
            font-size: 14px; /*reduce button  text  on small screen*/
            padding: 10px 20px;
            min-width: 80%; /*reduce button size on small screens*/
        }

        table, th, td {/*reduce size of table for smaller screens*/
        font-size: 12px;
        padding: 6px;
    }

    }
    /* Desktop layout (950px) */
    @media (min-width: 950px) {
        body {
            max-width: 950px; /*does not allow styes or body to strech wider than 950*/
            margin: 0 auto; /*centers body*/
        }
    }


/*
   ANIMATION SECTION
   
   Adds bounce animation to headings for interactive feel.
   Demonstrates @keyframes usage.
   */


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

